@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, .full-height {
	height: 100%;
	margin: auto;
	font-family: Quicksand, Verdana, Arial;
	overflow: hidden;
	background-color: LightSteelBlue;
}

a {
	width: 100%;
	text-decoration: none;
	color: black;	
	font-weight: bold;
	outline: 0;
}
 
ul{
	list-style: none;
}

li {
	margin: 15px 0;
}

#menu {
	position: fixed;
	width: 17%;
	text-align: center;
	background-image: url("img/seigaiha.png");
	-webkit-animation: constructionLeft 4s ease both;
	animation: constructionLeft 4s ease both;
	border: 2px solid black;
	z-index: 1;
	box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, .2);
}

#menu div{
	background-color: transparent;
}


#photo{
	background-image: url("img/photo.jpeg");
	background-size: 120%;
	background-repeat: no-repeat;
	border-radius: 50%;
}
.title{
	font-family: Pacifico, Arial;
}

.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.text-center{
	text-align: center;
}
.strongBlue{
	color: MidnightBlue;
}

.col{
	/* border: 5px solid green; */
	display: flex;
	flex: 1;
	flex-direction: column;
}

.row{
	/* border: 5px solid red; */
	display: flex;
	flex: 1;
	flex-direction: row;
}

.content{
	flex: 5;
	padding: 35px;
	-webkit-animation: fadeIn 4000ms ease both;
	animation: fadeIn 4000ms ease both;
}

.about{
	flex: 3;
}


.double{
	flex: 2;
}

.triple{
	flex: 3;
}

.quad{
	flex: 4;
}
.center-items{
	align-items: center;
}

.end-self{
	align-self: flex-end;
}

.start-self{
	align-self: flex-start;
}

/*------ Progress Bar -------*/
#loading-background{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	z-index: 2;
	text-align: center;
	opacity: 1;
	transition: opacity 1.5s ease-in-out;
	-moz-transition: opacity 1.5s ease-in-out;
	-webkit-transition: opacity 1.5s ease-in-out;
}

#loading{
	position: relative;
	top: 45%;
	color: white;
}

.bar {
	margin: auto;
	font-size: 15px;
	width: 30em;
	height: 1em;
	border-radius: 0.5em;
	position: relative;
	background: #f2f2f2;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
}

.bar .progress {
	position: relative;
	font-size: 1em;
	background: LightSlateGray;
	height: 1em;
	border-radius: 0.5em;
	width: 0%;
}

.tooltip:before, .tooltip:after {
	content: "";
	position: absolute;
	opacity: 1;
}

.tooltip:before {
	bottom: -10px;
	right: -5px;
	border: 5px solid;
	border-color: transparent transparent LightSlateGray transparent;
	transition: opacity 0.1s;
}

.tooltip:after {
	content: attr(percentage);
	bottom: 0;
	right: 0;
	white-space: nowrap;
	padding: 0.6em 1em;
	border-radius: 2em;
	line-height: 1;
	color: #fff;
	background: LightSlateGray;
	transform: translateX(50%) translateY(100%) translateY(10px);
}


.bubble {
	position: relative;
	background-image: url("img/seigaiha.png");
	border-radius: .6em;
	text-align: center;
	width: 60%;
	height: 20%;
	padding:15px;
	box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, .2);
	-webkit-animation: constructionRight 2s ease both;
	animation: constructionRight 2s ease both;
	margin-top: 7%;
}

.bubble.bubleft:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #FFFFFF;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.bubble.bubright:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #FFFFFF;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

/*------ Icones -------*/
.mail-ico{
	position: absolute;
	background-image: url("img/mail_ico.svg");
	background-size: contain;
	left: 10px;
	width: 25px;
	height: 25px;
}

.phone-ico{
	position: absolute;
	background-image: url("img/phone_ico.svg");
	background-size: contain;
	left: 10px;
	width: 25px;
	height: 25px;
}
.birth-ico{
	display: inline-block;
	background-image: url("img/birth_ico.svg");
	background-size: contain;
	left: 10px;
	width: 25px;
	height: 25px;
}

.car-ico{
	display: inline-block;
	background-image: url("img/car_ico.svg");
	background-size: contain;
	left: 10px;
	width: 25px;
	height: 25px;
}

.home-ico{
	display: inline-block;
	background-image: url("img/home_ico.svg");
	background-size: contain;
	left: 10px;
	width: 25px;
	height: 25px;
}

.formation {
	margin: 15px;
	position: relative;
	background-image: url("img/seigaiha.png");
	border-radius: .4em;
	opacity: 1;
	padding: 5px;
	box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, .2);
	-webkit-animation: constructionRight 2s ease both;
	animation: constructionRight 2s ease both;
}

.formation:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #FFFFFF;
	border-top: 0;
	margin-left: -20px;
	margin-top: -20px;
}

#html{
	background-image: url("img/logo_html.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#css{
	background-image: url("img/logo_css.png");
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center; 
}

#js{
	background-image: url("img/logo_js.png");
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}

#php{
	background-image: url("img/logo_php.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#mysql{
	background-image: url("img/logo_mysql.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.competence{
	text-align: center;
	padding-top: 20%;
}

#eng{
	background-image: url("img/eng.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#esp{
	background-image: url("img/esp.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#jap{
	background-image: url("img/jap.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.lang{
	text-align: center;
	color: white;
	text-shadow: 2px 2px black;
	padding-top: 9%;
}

#countdown{
	background-image: url("img/countdown.png");
}

#doctor{
	background-image: url("img/doctor.png");
}

.projet {
	position: relative;
	text-align: center;
	height: 150px;
	width: 150px;
	border-radius: 100%;
	background-size: 110%;
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid black;
	margin: auto;
}

.projet:hover{
	left: -5px;
	top: -5px;
}
@-webkit-keyframes constructionLeft { 
	0% { 
		left:-500px;
	}
	100% { 
		left: 0px;
	} 
}

@-webkit-keyframes constructionRight { 
	0% { 
		right:-500px;
	}
	100% { 
		right: 0px;
	} 
}

@-webkit-keyframes fadeIn { 
	0% { 
		opacity: 0;
	}
	100% { 
		opacity: 1;
	} 
}
